.vscode
.idea
.gradle
.DS_Store
*.js
*.js.map
*.log

src/platforms/ios_lib/AppSync/AppSync.xcodeproj/project.xcworkspace
src/platforms/ios_lib/AppSync/AppSync.xcodeproj/xcuserdata

src/*.d.ts
!src/*install-hooks.js
!src/scripts/**/*.js
!src/index.d.ts
!src/references.d.ts
!src/code-push-lib.d.ts

!demo/karma.conf.js
!demo/demoapp/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms

publish/src
publish/package

node_modules