.vscode
.idea
.DS_Store
*.js
*.js.map
*.log

src/*.d.ts
!src/install-hooks.js
!src/scripts/**/*.js
!src/index.d.ts
!src/references.d.ts
!src/code-push-lib.d.ts

demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms

publish/src
publish/package

node_modules